body {
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: whitesmoke;
}
h1 {
    color: #212427;
}
.main {
    background-color:lightgray;
    width: 500px;
    margin: auto;
    display: block;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #212427;
}
.input {
    margin: 20px;
}
#input-el {
    width: 300px;
    border: solid 1px black;
    line-height: 25px;
    border-radius: 20px;
    padding: 2px 10px;
}
.btn {
    margin: 20px;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    background-color: blueviolet;
    color: aliceblue;
}
.suggestion {
    width: 300px;
    height: 100px;
    background-color: white;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 5px;
    font-family: monospace;
}